<template>
  <li  class="image-card">
    <img @click="showModal()" style="cursor:pointer;" class="image-card__image" :src="`https://picsum.photos/id/${image.id}/367/267`">
    <div class="image-card__body">
      <section class="image-date-view-wrapper">
        <p class="image-date"><i class="far fa-images"></i> {{image.id}}</p>
        <p class="image-views"  v-if="image.author">{{image.author}}</p>
      </section>
    </div>
  </li>
  <Modal v-show="isModalVisible" @close="closeModal">
    <template v-slot:body>
      <img :src="`https://picsum.photos/id/${image.id}/367/267`">
    </template>
  </Modal>
</template>

<script>
import Modal from './ImageModal.vue'
export default {
  name: 'ImageCard',
  components: { Modal },
  data() {
     return {
       isModalVisible: false,
    }
  },
  props: [ 'image' ],
  methods: {
    showModal() {
        this.isModalVisible = true;
        console.log(this.isModalVisible);
    },
    closeModal() {
      this.isModalVisible = false;
    }
  }
}
</script>


<style lang="scss">
.image-card {
  width: calc(33% - 1rem);
  margin: .5rem;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
  background: white;
  @media only screen and (max-width: 799px) {
    width: calc(50% - 1rem);
  }
  @media only screen and (max-width: 549px) {
    width: 100%;
    margin: .5rem 0;
  }
}
.image-card__image {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.image-card__body {
  padding: .5rem 1rem 1rem;
}
.image-title {
  font-weight: bold;
  margin: 0;
}
.image-owner {
  margin-top: 0;
  font-size: .8rem;
}
.image-title,
.image-owner {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.image-date-view-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.image-date,
.image-views {
  margin-bottom: 0;
  font-size: .8rem;
}
</style>