<template>
<transition name="modal-fade">
    <div class="modal-backdrop" @click="close">
      <div class="modal">
        <header class="modal-header">
          <slot name="header"></slot>
          <button type="button" class="btn-close" @click="close"> x </button>
        </header>
        <section class="modal-body">
          <slot name="body"></slot>
        </section>
      </div>
    </div>
  </transition>
</template>

<script>
 export default {
    name: 'Modal',
    methods: {
      close() {
        this.$emit('close');
      },
    },
  };

</script>

<style>
  .modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
  }

  .modal-header{
    padding: 20px;
    display: flex;
  }

  .modal-header {
    position: relative;
    color: #4AAE9B;
    justify-content: flex-end;
  }


  .modal-body {
    position: relative;
    padding: 20px 10px;
  }

  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #4AAE9B;
    background: transparent;
  }
  .modal-fade-enter,
  .modal-fade-leave-to {
    opacity: 0;
  }

  .modal-fade-enter-active,
  .modal-fade-leave-active {
    transition: opacity .5s ease;
  }

</style>